{% extends 'layout.html' %}
{% block content %}

<style>
    input[type="text"]:focus {
        outline: none;
    }

    .search-button {
        background-color: #0d6efd;
        transition: background-color 0.6s ease-in-out;
        width: 10rem;
    }

    .search-button:hover {
        background-color: rgb(55, 57, 111);
    }

    #neur {
        padding: .3rem;
    }

    #neur:hover {
        background: #0d6efd;
        color: white !important;
        transition: .7s ease-in-out;
        padding: .8rem;
    }

    #neur a:hover {
        color: white !important;
    }

    #neur a {
        font-size: 1.2rem;
        font-weight: normal;
        width: 100% !important;
    }

    #hero {
        background: url(../static/images/serv1.jpg);
        height: 70vh;
        position: relative;
        background-position: center;
        background-size: cover;
    }

    form {
        z-index: 999;
    }

    #hero2 {
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #overlay {
        position: absolute;
        height: 70vh;
        width: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.529);
    }

    #myserv {
        height: 35rem;
        overflow-y: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
    }

    #myserv::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    #myserv2 {
        height: 45rem;
        overflow-y: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
    }

    #myserv2::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    #mobile {
        display: none;
    }

    /* media query */
    @media screen and (max-width: 1020px) {
        #web {
            display: none;
        }

        #mobile {
            display: grid !important;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }


    }

    /* #location{
            margin-top: 5rem;
        } */
</style>
</head>

<body>

    <div class="" id="hero">
        <div id="hero2" class="">
            <form action="" method="post" class="row g-0 justify-content-center align-items-center container m-auto">
                <div class="col-auto col-lg-6">
                    <input type="text" name="search" class="form-control py-3 shadow-none border"
                        placeholder="What are you looking for?" required>
                </div>
                <div class="col-auto col-lg-3">
                    <button type="submit" class="btn search-button text-white py-3">
                        <i class="fas fa-search me-2"></i> Search
                    </button>
                </div>
            </form>
        </div>
        <div id="overlay"></div>
    </div>

    <div class="container mt-5" id="web">
        <div class="row gy-2">
            <ul class=" col-lg-3 card p-3" id="myserv">
                {% for serv in services %}
                <a class="text-decoration-none text-dark" href="" id="neur">
                    <img src="{{ url_for('static', filename='images/service.jpg' )}}" alt="" style="width: 1rem;"
                        class="">
                    <span class="text-center mt-2 ms-2" style="font-size: .9rem;">{{ serv.name.upper() }}</span>
                </a>
                {% endfor %}
            </ul>
            <div class="col-lg-9" id="myserv2"> <!-- Updated column size to take up the remaining space -->
                <div class="row g-1">
                    {% for serv in services %}
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="{{ url_for('static', filename='images/man.avif' )}}" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="text-danger">Plumber
                                    <span class="float-end" style="font-size: .6rem;"><i
                                            class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i> <i
                                            class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-muted"></i> </span>
                                </p>
                                <p class="text-muted" style="font-size: .8rem;">This is the short description of the
                                    service</p>
                                <p class="fw-bold text-success"><del style="text-decoration-style: double;">N</del>9,000
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row gy-2 mt-3 container m-auto" id="mobile">
        {% for serv in services %}
        <div class="col-md-4 col-lg-4 col-sm-3 col-4 w-100">
            <!-- Use col-sm-6 for small screens, col-12 for extra small screens -->
            <a class="card py-2 text-decoration-none" href="">
                <img src="{{ url_for('static', filename='images/service.jpg' )}}" alt="" style="width: 3rem;"
                    class="mx-auto d-block">
                <span class="text-center mt-2" style="font-size: .8rem;">{{ serv.name }}</span>
            </a>
        </div>
        {% endfor %}
    </div>

    {% endblock %}