{% extends 'layout.html' %}

{% block content %}

<div class="container" id="list_admins" style="display: flex; justify-content: space-between; align-items: center; width: 40rem; margin-top: 7rem">
</div>
<div class="form-body">
    <div class="row">
        <div class="form-holder mx-auto border" style="border: 2px solid rgb(122, 123, 126); border-radius: 16px; padding: 50px; width: 40rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            <div class="form-content">
                <div class="form-items">
                    <h5 class="text-primary text-center mb-3">Create an account</h5>
                    <!-- <p class="text-muted">Fill in the data below.</p> -->
                    <form class="requires-validation" action="" method="post" enctype="multipart/form-data">

                        <div class="col-md-12">
                            <img src="https://res.cloudinary.com/duwyopabr/image/upload/v1676162283/user_xz7o0f.png" alt=""
                        style="width: 3rem; cursor: pointer;" class="mx-auto d-block rounded-circle img-thumbnail" id="pp">
                           <input class="form-control shadow-none border" id="username_input" type="text" name="username" placeholder="Username" required value="{% if username %}{{username}}{% endif %}">
                           <input class="form-control shadow-none border" id="email_input" type="email" name="email" placeholder="Email" required value="{% if email %}{{email}}{% endif %}">
                           <input class="form-control shadow-none border d-none" id="photo_input" type="file" name="profile_picture" required {% if pp %}value="{{ pp.filename }}"{% endif %}>
                           <input class="form-control shadow-none border" id="phone_input" type="tel" name="phone_number" placeholder="Phone" required value="{% if phone %}{{phone}}{% endif %}">
                           <input class="form-control shadow-none border" id="country_input" type="text" name="country" placeholder="Country" required value="{% if country %}{{country}}{% endif %}">
                           <input class="form-control shadow-none border" id="state_input" type="text" name="state" placeholder="State" required value="{% if state %}{{state}}{% endif %}">
                           <input class="form-control shadow-none border" id="lga_input" type="text" name="local_government" placeholder="Local Govt" required value="{% if lga %}{{lga}}{% endif %}">
                           <select id="" class="form-control shadow-none border" name="user_type">
                               <option disabled selected>Choose One</option>
                               <option value="user">Need a service</option>
                               <option value="worker">Render a service</option>
                           </select>
                           <input class="form-control shadow-none border" id="password_input" type="password" name="password" placeholder="Password" required value="{% if password %}{{password}}{% endif %}">
                           <input class="form-control shadow-none border" id="confirm_password_input" type="password" name="confirm_password" placeholder="Confirm Password" required value="{% if confirm_password %}{{confirm_password}}{% endif %}">
                        </div>

                        <div class="form-button mt-3">
                            <button class="btn btn-primary p-2 fw-normal" id="login_btn" type="submit">
                                Register
                            </button>
                        </div>
                        <div class="text-muted mt-3" style="font-size: .85rem;">
                            Already have an account? <a class="text-decoration-none" href="{{ url_for('auth.login') }}">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    /* height: 100%; */
    /* background-color: #152733; */
    overflow-y: auto;
    overflow-x: hidden;
}

.form-content input[type=text], .form-content input[type=password], 
.form-content input[type=email], .form-content select, 
.form-content input[type=tel], .form-content input[type=file] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 1px solid rgb(142, 131, 131);
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;
}

/* media query */
@media screen and (max-width: 768px) {
    .form-holder, #list_admins{
        width: 85% !important;
    }
}

</style>

<script>

    var email = document.getElementById('email_input');
    var password = document.getElementById('password_input');

    var pp = document.getElementById('pp');
    var photo_input = document.getElementById('photo_input');

    var login_btn = document.getElementById('login_btn');

    // updateLoginButton();

    // Add event listeners for input fields
    // email.addEventListener('input', updateLoginButton);
    // password.addEventListener('input', updateLoginButton);

    console.log(password.value.trim().length, "length")

    // function updateLoginButton() {
    //     // Enable/disable login button based on input length
    //     if (password.value.trim().length >= 4) {
    //         login_btn.removeAttribute('disabled');
    //     } else {
    //         login_btn.setAttribute('disabled', 'disabled');
    //     }
    // }

    login_btn.addEventListener('click', function () {
        // Replace button text with spinner when clicked
        if (!login_btn.hasAttribute('disabled')) {
            login_btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
            login_btn.classList.add('px-3');
            setTimeout(function () {
            // disabled the btn
                login_btn.setAttribute('disabled', 'disabled');
            }, 1000)
        }

        setTimeout(function () {
            // Remove spinner
            login_btn.innerHTML = 'Register';
            login_btn.classList.remove('px-3');
            // Enable the button
            login_btn.removeAttribute('disabled');
        }, 4000); // 4 seconds delay
    });

    pp.addEventListener('click', function () {
        photo_input.click();
    })

    photo_input.addEventListener('change', function () {
        if (photo_input.files && photo_input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                pp.setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(photo_input.files[0]);
        }
    })


</script>


{% endblock content %}